extends layout

block content
    h1(class='centered') Add birthday
    form.centered-form(action='/addBirthday', method='POST')
        label(for='memoTitle') Friend:
        input(type='text', id='memoTitle', name='memoTitle')
        br
        label(for='memoContent') Birthday:
        input(type='text', id='memoContent', name='memoContent')
        br
        button(type='submit') Add birthday
    button.centered-button(onclick='history.back()') Back
