extends layout

block content
    h1(class='centered') All birthdays
    ul.centered-list
        each all in seeAll
            li
                h2= all.title
                p= all.content
    button.centered-button(onclick='history.back()') Back